/* CSS for Tag Sidebar baaner [012-01-2021] */
.custom-tag-sidebar #main-outlet .discovery-list-container-top-outlet.tag-sidebar{
    margin-left: calc(-50vw + 50.75%) !important;
    margin-right: calc(-50vw + 50.75%) !important;
    .tag-sidebar{
        margin: 0px !important;
        background-color: transparent;
        background-image: url($home-page-background-image);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
     .sticky-sidebar{
        display: flex;
        text-align: center;
        background: none !important;
        max-width: calc(100% - 16px);
        width: 1110px;
        margin: auto;
        justify-content: left !important;
        padding: 0px !important;
    }
    
    .tag-sidebar-contents{
        padding: 15px 20px !important;
        background-color: #f2f2ea;
        margin: 20px 0px;
        text-align: left;
        color: black;
        display: block;
        float: left;
        min-width: 340px;
    }
    .cooked{
        padding: 0px !important;
    }
}

